header {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
#map {
height: 100%;
}

html,
body, .container-fluid {
height: 100%;
margin: 0;
padding: 0;
}
.btn-find-me{
  margin-top: 73px;;
}
.box-msg{
    width: 300px;
    position:absolute;
    right:10%;
    top: 100px;
    z-index: 1;
}
.formBox {
  padding-top:150px;
  width: 600px;
  margin: auto;
}
.navbar, .btn, .card-header, .navbar-light .navbar-nav .nav-link {
  background-color:#00B5AC;
  color: #fff;
}
nav img{
  max-width: 100px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}
.sideBatBtn{
  width:50px;
  height:50px;
  /* margin-top: 110px; */
  position: absolute;
  top: 110px;
  right: 10px;
  display:none;
}
@media screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .sideBatBtn{
    display:block;
  }
}